@font-face {
    font-family: 'NeueMachina';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/NeueMachina-Bold.otf');
}

html {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background: url(../img/bg_gr8.png) no-repeat;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

h1 {
    margin: auto;
}

h1.time {
    color: #00EEBC;

    font-family: 'NeueMachina', sans-serif;
    font-size: 10vw;
    font-weight: bold;
}